@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Regular.ttf);
}
@font-face {
    font-family: neuton;
    src: url(./Neuton-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #F5F3EA;
    overflow-x: hidden;
}
#page1{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    border-bottom: 1px solid #151C31;
    position: relative;
}
#page1 #img1{
    position: absolute;
    top: 10%;
    left: 34.3%;
    z-index: 5;
}
#page1 #img2{
    position: absolute;
    left: 17%;
    top: 20%;
    z-index: 5;
}
#page1 #img3{
    position: absolute;
    top: 24%;
    height: 22vh;
    left: 26.8%;
    z-index: 5;
}
#page1 #img4{
    position: absolute;
    left: 64%;
    top: 14%;
    z-index: 5;
}
#page1 #img5{
    position: absolute;
    right: 21.8%;
    top: 28%;
    z-index: 5;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100vw;
    gap: 10em;
}
#nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6em;
}
#nav3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1vw;
}
#nav h1{
    font-size: 2vw;
    font-family: neuton;
    cursor: pointer;
    color: #151C31;
}
#nav h1 span{
    font-size: 2.4vw;
    font-family: neuton;
    color: #FF5858;
}
#nav h4{
    font-size: 0.8vw;
    font-weight: 100;
    cursor: pointer;
}
#nav #nav3 h4:nth-child(2){
    color: #FF5858;
}
#nav3 i{
    cursor: pointer;
    font-size: 1vw;
}
#nav #menu{
    font-size: 5.5vw;
    color: #151C31;
    display: none;
}
#nav #nav3 h4:nth-child(3){
    background-color: #151C31;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
}
#center{
    text-align: center;
    padding-top: 65px;
}
#center h1{
    font-family: neuton;
    font-size: 4vw;
    color: #151C31;
}
#center h1:nth-child(1){
    color: #FF5858;
}
#center p{
    margin-top: 30px;
    font-size: 1.1vw;
}
#page1 #cover_img{
    height: 100vh;
    width: 73vw;
    margin-top: 6%;
    margin-left: 12.5%;
}
#main #page2{
    min-height: 100vh;
    width: 100vw;
    padding-top: 6.9%;
    text-align: center;
}
#main #page2 h1{
    font-family: neuton;
    font-size: 2.5vw;
    letter-spacing: 2.4px;
    color: #151C31;
}
#main #page2  p{
    margin-top: 2.8vh;
    font-size: 0.85vw;
    color: #777;
    font-weight: 200;
}
#elem_container{
    width: 80%;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#elem_container .elem{
    height: 68vh;
    width: 30%;
    background-color: transparent;
    margin-top: 6%;
    padding: 5px;
    border-radius: 4px;
    transition: all ease 300ms;
}
#elem_container .elem:hover{
    background-color: #FFB07B;
    cursor: pointer;
}
#elem_container .elem:hover img{
    filter: grayscale(10);
}
#elem_container .elem img{
    height: 90%;
    width:100%;
    object-fit: cover;
    border-top: 1px solid #151C31;
    border-left: 1px solid #151C31;
    border-right: 3px solid #151C31;
    border-bottom: 3px solid #151C31;
    border-radius: 4px;
}
.elem h2{
    margin-top: 10px;
    font-family: neuton;
    font-size: 30px;
}
@media (max-width:600px) {          /* Responsive Code For Mobile Phones Only */
    #nav{
        gap: 45vw;
    }
    #nav h1{
        font-size: 7vw;
    }
    #nav h1 span{
        font-size: 8.5vw;
    }
    #nav #nav2{
        display: none;
    }
    #nav #nav3{
        display: none;
    }
    #nav #menu{
        display: block ;
    }
    #page1 #img1{
        top: 9%;
        left: 33%;
        scale: 0.4;
    }
    #page1 #img2{
        top: 15%;
        left: 13%;
        scale: 0.3;
    }
    #page1 #img3{
        height: 15vh;
        top: 21%;
        left: 20%;
        scale: 0.4;
    }
    #page1 #img4{
        top: 12%;
        left: 60%;
        scale: 0.3;
    }
    #page1 #img5{
        top: 24%;
        right: 18%;
        scale: 0.4;
    }
    #page1 #center h1{
        font-size: 7.5vw;
    }
    #page1 #center p{
        margin-top: 13px;
        font-size: 2.3vw;
    }
    #page1{
        margin-bottom: -25vh;
        border-bottom: none;
    }
    #page1 #cover_img{
        margin-left: 0;
        height: 35vh;
        width: 100%;
        border-bottom: 1px solid #151C31;
    }
    #main #page2 h1{
        font-size: 10vw;
    }
    #main #page2 p{
        font-size: 3vw;
    }
    #elem_container .elem{
        height: 65vh;
        width: 80vw;
        margin-bottom: 3vh;
    }
    .elem h2{
        margin-top: 6px;
        font-size: 25px;
    }
}

